fastapi
uvicorn[standard]
python-dotenv
langchain-core
langchain-community
langchain-google-genai
langgraph
langgraph-checkpoint
langgraph-checkpoint-sqlite
langgraph-prebuilt
requests
google-serper-api-wrapper
httpx
trafilatura
pint
sentence-transformers
numpy
